
.stock{
	&_view{
		background: url("../img/stock-fon.png")no-repeat bottom center;
		padding: 20px 0;
	}
	&__title{
		text-align: center;
		color: #525252;
		font-family: 'Playfair Display', serif;
		font-size: 21px;
		@media only screen and (min-width : 720px) {
			font-size: 30px;
			padding-bottom: 45px;
		}
		font-weight: 700;
		display: block;
		padding-bottom: 25px;
	}
}
.stock-text-box{
	&_padding{
		padding-bottom: 81px;
		padding-left: 15px;
		padding-right: 15px; 
		@media only screen and (min-width : 992px) {
			padding-left: unset;
			padding-right: unset; 
		}
	}
	&__text{
		color: #5c5c5c;
		font-size: 12px;
		padding-bottom: 22px;
		@media only screen and (min-width : 720px) {
			font-size: 14px;
		}
		font-weight: 400;
		line-height: 22px;

		&_last{
			display: none;
			@media only screen and (min-width : 720px) {
				display: block;
			}
		}
	}

}