
.inner-de{
	padding: 36px 0 95px;
	@media only screen and (max-width : 700px) {
		padding: 20px 0;
	}
	.row{
		@media only screen and (max-width : 770px) {
			margin: 0;
		}
	}
	.h1-wrap{
		padding-bottom: 18px;
	}
	.breadcrumps-wrap{
		padding-bottom:48px;
	}
	.pagination-wrap{
		padding: 35px 0;
	}
	strong{
		font-weight: 600;
	}
}
.basket-page {
	padding: 36px 0 150px;
	@media only screen and (max-width : 770px) {
		padding: 20px 0 60px 0;
	}
}
.inner-sale {
	@media only screen and (min-width : 770px) {
		padding: 36px 0 10px;
	}
	@media only screen and (min-width : 1248px) {
		padding: 36px 0 95px;
	}
}
.google-online{
	height: 495px;
	background: #ccc;
	margin-bottom: 59px;
	@media only screen and (max-width : 770px) {
		margin: 0 -15px 35px;
		height: 355px;
	}
}
.de-form{
	max-width: 830px;
	padding: 30px 11px;
	margin: 0 auto;
	.form__title{
		display: block;
		color: #535353;
		font-size: 30px;
		text-align: center;
		font-family: 'Playfair Display';
		font-style: italic;
		padding-bottom: 30px;
		line-height: 22px;
		@media only screen and (max-width : 700px) {
			font-size: 24px;
		}
	}
	.form-inner{
		padding: 65px 0 22px;
		background: url(../img/m-decor.png) top center no-repeat;
		@media only screen and (max-width : 700px) {
			padding: 40px 0 20px;
		}
	}
	.form-left{
		float: left;
		width: 50%;
		@media only screen and (max-width : 700px) {
			width: 100%;
			float: none;
		}
	}
	.form-right{
		float: left;
		width: 50%;
		@media only screen and (max-width : 700px) {
			width: 100%;
			float: none;
		}
	}
	.input-wrap{
		padding: 0 4px 8px;
		input{
			height: 41px;
		}
	}
	.button-wrap{
		text-align: center;
		button{
			border: none;
			outline: none;
		}
	}
}
.about__text{
	p{
		color: #3d3d3d;
		font-size: 15px;
		line-height: 30px;
		padding-bottom: 30px;
		@media only screen and (max-width : 700px) {
			font-size: 12px;
			line-height: 22px;
			padding-bottom: 20px;
		}
	}
}
.testimonials{
	padding: 36px 0 80px;
	.breadcrumps-wrap{
		padding-bottom: 10px;
	}
}
.testimonial{
	padding: 60px 20px 65px 0;
	border-bottom: 1px solid #ebe8e8;
	@media only screen and (max-width : 700px) {
		padding: 40px 0 30px;
	}
	&__top{
		padding-bottom: 13px;
	}
	&__name{
		color: #000;
		font-size: 16px;
		display: block;
		float: left;
		font-style: italic;
		font-weight: 600;
		padding-bottom: 10px;
		@media only screen and (max-width : 700px) {
			float: none;
			padding-bottom: 2px;
			font-size: 14px;
		}
	}
	&__date{
		color: #7e7e7e;
		font-size: 14px;
		display: block;
		float: right;
		padding-bottom: 10px;
		@media only screen and (max-width : 700px) {
			float: none;
			font-size: 12px;
		}
	}
	&__text{
		color: #5c5c5c;
		font-size: 14px;
		line-height: 22px;
		padding-bottom: 34px;
		@media only screen and (max-width : 700px) {
			font-size: 12px;
		}
	}
	&__answer{
		span{
			color: #7f2461;
			font-size: 14px;
			display: inline-block;
			padding-right: 5px;
			line-height: 18px;
			float: left;
			width: 130px;
			letter-spacing: -0.5px;
			font-style: italic;
			@media only screen and (max-width : 700px) {
				font-size: 12px;
				width: 90px;
			}
			i{
				display: inline-block;
			}
		}
		p{
			color: #5c5c5c;
			font-size: 14px;
			line-height: 18px;
			margin-left: 130px;
			@media only screen and (max-width : 700px) {
				font-size: 12px;
				margin-left: 90px;
			}
		}
	}
}
.curs{
	padding: 36px 0 41px;
	@media only screen and (max-width : 700px) {
		padding: 20px 0;
	}
	.breadcrumps-wrap{
		padding-bottom: 54px;
	}
}
.curs__text{
	color: #5c5c5c;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 40px;
	@media only screen and (max-width : 700px) {
		font-size: 12px;
		padding-bottom: 25px;
	}
}
.curs__info{
	margin: 0 auto 70px;
	border: 3px solid #f6f6f6;
	padding: 36px 10px;
	text-align: center;
	color: #3d3d3d;
	font-size: 15px;
	width: 100%;
	max-width: 360px;
	@media only screen and (max-width : 700px) {
		font-size: 14px;
		margin: 0 auto 25px;
		padding: 20px 10px 30px;
	}
	em{
		display: inline-block;
		@media only screen and (max-width : 700px) {
			padding-top: 5px;
		}
	}
	strong{
		color: #000;
		text-transform: uppercase;
	}
	i{
		font-style: normal;
		color: #7c7c7c;
		text-transform: uppercase;
	}
	b{
		color: #b58827;
		font-weight: 600;
		display: inline-block;
		padding-left: 3px;
	}
}
.curs__table-title{
	font-size: 16px;
	color: #1f1f1f;
	font-weight: 600;
	display: block;
	padding-bottom: 18px;
}
.tech{
	padding: 20px 0;
	.favourite_empty{
		height: 23px;
	}
	.all-h .h1{
		text-align: left;
	}
	.h1_slider-wrap h1{
		text-align: left;
		span{
			text-transform: none;
			color: #2f2f2f;
			font-size: 14px;
		}
	}
	.all-buttons{
		padding: 65px 0 20px;
		border-top: 1px solid #ccc;
	}
	.all-buttons__title{
		display: block;
		font-size: 14px;
		color: #000;
		padding-bottom: 40px;
	}
	.block-wrap{
		padding-bottom: 20px;
	}
	a{
		margin-bottom: 15px;
		display: inline-block;
	}
	.call_link{
		margin-bottom: 15px;
		display: inline-block;
		&_dis{
			text-decoration: none;
		}
	}
	.header_auth_list_link{
		display: inline-block;
		margin: 0 20px 10px 0;
	}
	.favourite_empty{
		background: url(../img/heart.png);
		background-size: cover;
	}
	.favourite_full{
		background: url(../img/heart-full.png);
		background-size: cover;
	}
	.signin{
		text-decoration: underline;
		display: inline-block;
		padding: 0 20px 15px 0;
		&_dis{
			text-decoration: none;
		}
	}
	.button__news{
		text-align: center;
		display: inline-block;
		margin: 0 0 20px 130px;
		background: #fff;
		border-color: #7f2461;
		span{
			color: #7f2461!important;
		}
		&_dis{
			background: #7f2461;
			span{
				color: #fff!important;
			}
		}
	}
	.button__basket_dis{
		background: #93467c;
	}
	.button__feedback{
		display: inline-block;
		text-decoration: underline;
		color: #393939;
		font-size: 16px;
		font-weight: 600;
		font-style: italic;
		&_dis{
			text-decoration: none;
		}
	}
	.button__simple-link{
		text-transform: uppercase;
		font-size: 14px;
		color: #7f2461;
		font-weight: 600;
		width: 75px;
		text-align: right;
		text-decoration: underline;
		margin-right: 20px;
		&_dis{
			text-decoration: none;
		}
	}
	.button__news_buy{
		margin-left: 0;
		&_dis{
			background: #7f2461;
		}
	}
	.add-to{
		display: inline-block;
		text-align: center;
		padding-bottom: 20px;
		a{
			margin: 0;
		}
		span{
			padding-top: 3px;
			color: #7f2461;
			font-size: 14px;
			font-style:italic;
			font-weight: 600;
			font-family: 'Playfair Display';
			display: block;
		}
	}
	.demo-title{
		font-size: 16px;
		color: #000;
		padding-bottom: 15px;
	}
}
.sale-row{
	@media only screen and (min-width : 770px) {
		margin: 0 -11px;
		padding-bottom: 45px;
	}
}
.sale{
	float: left;
	width: 50%;
	padding: 0;
	@media only screen and (max-width : 770px) {
		width: 100%;
		float: none;
		margin: 0 auto 30px;
		max-width: 400px;
	}
	@media screen and (min-width: 771px) {
		padding: 0 11px;
	}
	.sale__img{
		display: block;
		height: 266px;
		overflow: hidden;
		position: relative;
		background: #edebeb;
		@media only screen and (max-width : 1000px) {
			height: 200px;
		}
		@media only screen and (max-width : 770px) {
			height: 140px;
		}
		img{
			display: block;
			width: 100%;
			height: auto;
			min-height: 100%;
		}
		&_border{
			border-right: 1px solid #edebeb;
		}
		&::before{
			content: "";
			display: block;
			background: transparent;
			border: 1px solid #fff;
			position: absolute;
			top: 8px;
			bottom: 8px;
			left: 10px;
			right: 10px;
			z-index: 11;
		}
		&_bg::after{
			content: "";
			display: block;
			background: #7d6dad;
			position: absolute;
			width: 340px;
			height: 340px;
			border-radius: 50%;
			right: -70px;
			top: 50%;
			margin-top: -170px;
			z-index: 5;
			@media only screen and (max-width : 1000px) {
				right: -100px;
			}
			@media only screen and (max-width : 770px) {
				display: none;
			}
		}
	}
	.sale__info{
		position: absolute;
		z-index: 10;
		top: 86px;
		right: 30px;
		span{
			color: #454545;
			font-size: 30px;
			font-weight: 700;
			display: block;
			padding-bottom: 13px;
			text-align: right;
			@media only screen and (max-width : 1000px) {
				font-size: 24px;
			}
			@media only screen and (max-width : 770px) {
				font-size: 18px;
			}
		}
		i{
			display: block;
			font-style: normal;
			color: #181818;
			font-size: 15px;
			text-align: right;
			@media only screen and (max-width : 770px) {
				font-size: 11px;
			}
		}
		@media only screen and (max-width : 770px) {
			top: 45px;
			right: 15px;
		}
		&_red{
			top: 54px;
			right: 59px;
			@media only screen and (max-width : 770px) {
				top: 30px;
				right: 15px;
			}
			span{
				color: #c20f1b;
			}
		}
		&_white{
			right: 35px;
			top: 78px;
			@media only screen and (max-width : 770px) {
				top: 45px;
				right: 15px;
			}
			span, i{
				color: #fff;
			}
		}
	}
	.sale__text{
		padding: 26px 0 0 10px;
		@media only screen and (max-width : 770px) {
			padding: 13px 10px 0;
		}
		span{
			display: block;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 16px;
			color: #525252;
			padding-bottom: 5px;
			@media only screen and (max-width : 770px) {
				font-size: 14px;
			}
		}
		p{
			color: #6b6b6b;
			line-height: 25px;
			font-size: 14px;
			@media only screen and (max-width : 770px) {
				font-size: 12px;
				line-height: 18px;
				padding-right: 10px;
			}
		}
		.ul-wrap{
			@media only screen and (max-width : 770px) {
				display: none;
			}
		}
		.ul{
			float: left;
			width: 228px;
			padding-right: 8px;
			&_center{
				padding-top: 10px;
				@media only screen and (max-width : 1000px) {
					padding-top: 0;
				}
			}
		}
		li{
			line-height: 30px;
		}
	}
}
.news-row{
	padding-bottom: 41px;
	margin: 0 -10px;
	@media only screen and (max-width : 770px) {
		padding-bottom: 0;
	}
}
.news{
	float: left;
	width: 50%;
	padding: 0 10px;
	@media only screen and (max-width : 700px) {
		width: 100%;
		margin: 0 auto;
		max-width: 400px;
		float: none;
	}
	&__img-in{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		&::before,
		&::after{
			content: "";
			transition: 0.3s all ease;
			position: absolute;
			bottom: 15px;
			left: 15px;
			width: 72px;
			height: 72px;
			display: block;
			background: url(../img/figur1.png);
			z-index: -11;
		}
		&::after{
			left: auto;
			right: 15px;
			background: url(../img/figur2.png);
		}
	}
	&__img{
		display: block;
		height: 342px;
		position: relative;
		overflow: hidden;
		@media only screen and (max-width : 1000px) {
			height: 250px;
		}
		@media only screen and (max-width : 770px) {
			height: 180px;
		}
		img{
			display: block;
			width: 100%;
			height: auto;
			min-height: 100%;
			transition: 0.1s all ease;
		}
		span{
			display: block;
			text-align: center;
			position: absolute;
			width: 100%;
			top: 50%;
			margin-top: -13px;
			font-size: 20px;
			color: transparent;
			font-style: italic;
			transition: 0.3s all ease;
		}
		&::before{
			content: "";
			display: block;
			position: absolute;
			left: 10px;
			right: 10px;
			top: 10px;
			bottom: 10px;
			background: transparent;
			border: 1px solid #fff;
			z-index: 10;
		}
		&:hover{
			@media only screen and (min-width : 770px) {
				&__img-in{
					z-index: 10;
				}
				img{
					opacity: 0.3;
				}
				span{
					color: #525252;
				}
				.news__img-in::before,
				.news__img-in::after{
					z-index: 11;
				}
			}
		}
	}
	&__text{
		padding: 15px 10px;
		@media only screen and (max-width : 770px) {
			padding: 12px 0 30px;
		}
		a{
			display: block;
			font-size: 18px;
			color: #525252;
			font-weight: 700;
			line-height: 30px;
			text-transform: uppercase;
			@media only screen and (max-width : 770px) {
				font-size: 16px;
				line-height: 22px;
			}
			i{
				display: block;
			}
			span{
				display: block;
				font-size: 14px;
				color: #6b6b6b;
				font-weight: 400;
				@media only screen and (max-width : 770px) {
					padding: 8px 0 0;
				}
			}
			&:hover{
				i, span{
					color: #7f2461;
				}
			}
		}
	}
}
.news-page{
	.pagination-wrap{
		border-top: 1px solid #e8e8e8;
		padding: 45px 0 20px;
		@media only screen and (max-width : 770px) {
			padding: 30px 0 20px;
		}
	}
}
.basket-list{
	font-size: 14px;
	color: #525252;
	&__title{
		color: #921f6c;
		display: block;
		text-align: center;
		font-size: 24px;
		font-style: italic;
		font-family: 'Playfair Display';
		padding-bottom: 18px;
		@media only screen and (max-width : 770px) {
			font-size: 18px;
			padding-bottom: 10px;
			margin-top: 45px;
		}
	}
	.item{
		padding: 24px 0 25px;
		background: #f6f6f6;
		margin-bottom: 3px;
		height: 110px;
		@media only screen and (min-width : 500px) {
			height: auto;
		}
		.vertical-middle{
			padding-top: 110px;
			float: left;
			text-align: center;
			@media only screen and (max-width : 991px) {
				padding-top: 10px;
			}
		}
		&__img{
			width: 265px;
			height: 241px;
			float: left;
			position: relative;
			img{
				display: block;
				width: 100%;
				height: auto;
				min-height: 100%;
			}
			.tovar_img__toplent_new{
				background: url(../img/bgtovar3.png) left center no-repeat;
			}
			@media only screen and (max-width : 991px) {
				display: none;
				.tovar_img__toplent_new{
					display: none;
				}
			}
		}
		&__descr{
			width: 190px;
			padding-top: 100px;
			padding-left: 34px;
			text-align: left!important;
			span{
				display: block;
				font-size: 16px;
				line-height: 24px;
			}
			i{
				display: block;
				color: #6b6b6b;
				font-size: 12px;
			}
			@media only screen and (max-width : 1199px) {
				width: 170px;
				padding-left: 20px;
			}
			@media only screen and (max-width : 770px) {
				width: 40%;
			}
			@media only screen and (max-width : 500px) {
				padding-left: 0;
				span{
					font-size: 14px;
					line-height: 18px;
					padding-bottom: 2px;
					letter-spacing: -0.5px;
				}
				i{
					font-size: 11px;
				}
			}
		}
		&__price-one{
			width: 256px;
			position: relative;
			span{
				display: inline-block;
			}
			i{
				display: inline-block;
				padding-left: 15px;
				font-style: italic;
				font-size: 12px;
				color: #7f2461;
				cursor: pointer;
				font-weight: 400;
			}
			@media only screen and (max-width : 1199px) {
				width: 135px;
				i{
					padding-left: 0;
				}
			}
			@media only screen and (max-width : 770px) {
				width: 25%;
			}
			@media only screen and (max-width : 500px) {
				i{
					position: absolute;
					left: 10%;
					bottom: -27px;
					display: block;
					width: 100%;
					font-size: 11px;
					z-index: 10;
					width: 114px;
				}
			}
		}
		&__quan{
			width: 100px;
			.switch__number{
				margin: 0 auto;
			}
			@media only screen and (max-width : 770px) {
				padding-top: 0!important;
			}
			@media only screen and (max-width : 770px) {
				width: 25%;
			}
			@media only screen and (max-width : 500px) {
				.switch__number{
					width: 75px;
				}
			}
		}
		&__price-all{
			width: 120px; //115px;
			@media only screen and (max-width : 685px) {
				display: none;
			}
		}
		&__sale{
			width: 110px;
			@media only screen and (max-width : 1199px) {
				width: 75px;
			}
			@media only screen and (max-width : 685px) {
				display: none;
			}
		}
		&__price-order{
			width: 95px;
			@media only screen and (max-width : 685px) {
				display: none;
			}
		}
		&__delete{
			width: 35px;
			text-align: right!important;
			button{
				border: none;
				width: 14px;
				height: 13px;
				outline: none;
				background: url(../img/close-btn.png) no-repeat;
			}
			@media only screen and (max-width : 1199px) {
				width: 15px;
				float: right!important;
			}
			@media only screen and (max-width : 500px) {
				width: 15px;
			}
		}
	}
	.item__title{
		padding: 0;
		background: none;
		@media only screen and (max-width : 770px) {
			display: none;
		}
		.item__img{
			height: 20px;
		}
		.vertical-middle{
			padding: 0;
			text-align: left;
			span{
				text-transform: uppercase;
				line-height: 32px;
				font-size: 11px;
				color: #000;
				font-weight: 400;				
			}
		}
		.item__descr{
			padding: 0;
			height: 20px;
			float: left;
		}
		.item__price-one{
			padding-left: 27px;
		}
		.item__quan{
			text-align: center;
		}
		.item__sale{
			text-align: center;
		}
	}
	.item-total{
		padding: 50px 0 34px;
		text-align: right;
		color: #525252;
		font-size: 14px;
		span{
			font-weight: 600;
			display: inline-block;
			padding-bottom: 12px;
			font-style: italic;
		}
		i{
			padding-bottom: 12px;
			display: inline-block;
			width: 110px;
		}
		.total-row_bold{
			padding-top: 3px;
			i{
				font-weight: 600;
			}
		}
		@media only screen and (max-width : 770px) {
			padding: 25px 0 35px;
		}
		@media only screen and (max-width : 500px) {
			padding: 15px 0 15px;
			span, i{
				padding-bottom: 10px;
			}
		}
	}
	&__total{
		color: #525252;
		text-align: right;
		font-size: 18px;
		margin-top: -10px;
		margin-bottom: 85px;
		letter-spacing: -0.5px;
		span{
			font-style: italic;
			font-weight: 700;
			display: inline-block;
		}
		i{
			display: inline-block;
			width: 110px;
			font-weight: 700;
			font-style: normal;
		}
		@media only screen and (max-width : 500px) {
			margin-top: -15px;
			margin-bottom: 70px;
		}
	}
}

.basket-order{
	.order__title{
		font-size: 14px;
		color: #000;
		padding-bottom: 36px;
		font-weight: 600;
	}
	.tabs{
		padding-bottom: 50px;
	}
	.tab{
		display: block;
		float: left;
	}
	.left{
		@media only screen and (min-width : 770px) {
			float: left;
			width: 65%;
		}
		@media only screen and (min-width : 1200px) {
			float: left;
			width: 70%;
		}
	}
	.right{
		@media only screen and (min-width : 770px) {
			float: left;
			width: 35%;
		}
		@media only screen and (min-width : 1200px) {
			float: left;
			width: 30%;
		}
		.input{
			width: 100%;
			float: none;
			@media only screen and (min-width : 550px) {
				max-width: 350px;
			}
		}
	}
	.input{
		padding-bottom: 20px;
		padding-right: 0;
		@media only screen and (min-width : 550px) {
			padding-right: 15px;
			padding-bottom: 28px;
			float: left;
			width: 33.33%;
		}
		textarea{
			height: 115px;
		}
		.message_big{
			@media only screen and (min-width : 770px) {
				height: 180px;
			}
		}
		&_grey input{
			background: #f8f7f7;
			box-shadow: none;
		}
	}
	.jq-selectbox__dropdown{
		top: 41px;
	}
	.form__total{
		margin-top: -27px;
		text-align: right;
		& > div > span{
			color: #525252;
			font-size: 18px;
			font-weight: 700;
			font-style: normal;
			padding-bottom: 35px;
		}
		i{
			font-size: 18px;
			display: inline-block;
			padding-left: 20px;
			color: #525252;
			font-weight: 700;
			padding-bottom: 35px;
		}
		button{
			border: none;
		}
		@media only screen and (max-width : 1100px) {
			padding: 35px 0 60px;
			i{
				padding-left: 7px;
			}
		}
	}
	.form__info{
		p{
			font-size: 13px;
			color: #525252;
			@media only screen and (max-width : 700px) {
				padding-bottom: 60px;
			}
			a{
				color: #6b6b6b;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
			.rb-wrap{
				padding-top: 20px;
				display: block;
				@media only screen and (min-width : 670px) {
					display: inline-block;
					margin-left: 25px;
				}
			}
		}
	}
	.checkbox__label{
		margin-right: 35px;
	}
}
.tab-0 {
	.input {
		@media only screen and (min-width : 768px) {
			padding-bottom: 33px;
		}
	}
}
.basket__textarea {
	@media only screen and (min-width : 770px) {
		padding-right: 0 !important;
	}
}
.basket-page .container{
	padding: 0 8px;
}
.basket-list_composition{
	.item{
		padding: 0 23px;
		&__img{
			width: 97px;
			height: 87px;
			margin-top: 13px;
		}
		.vertical-middle{
			padding-top: 50px;
			text-align: center;
			border-right: 3px solid #fff;
			height: 115px;
			&:last-child{
				border-right: 0;
			}
		}
		&__title{
			margin-bottom: 0;
			.vertical-middle{
				padding: 0!important;
				height: auto;
			}
		}
		&__descr{
			width: 203px;
			padding-top: 28px!important;
		}
		&__price-one{
			width: 241px;
		}
		&__price-all{
			width: 196px;
		}
		&__sale{
			width: 192px;
		}
		&__price-order{
			width: 195px;
		}
		@media only screen and (max-width : 1199px) {
			&__price-one{
				width: 150px;
			}
			&__price-all{
				width: 150px;
			}
			&__sale{
				width: 150px;
			}
			&__price-order{
				width: 150px;
			}
		}
		@media only screen and (max-width : 991px) {
			&__descr{
				width: 203px;
			}
			&__price-one{
				width: 120px;
			}
			&__price-all{
				width: 120px;
			}
			&__sale{
				width: 120px;
			}
			&__price-order{
				width: 120px;
			}
		}
		@media only screen and (max-width : 770px) {
			padding: 0 10px;
			&__descr{
				width: 153px;
				padding-left: 0;
			}
			&__price-one{
				width: 120px;
			}
			&__price-all{
				width: 120px;
			}
			&__sale{
				width: 120px;
			}
			&__price-order{
				width: 120px;
			}
		}
	}
	@media only screen and (max-width : 685px) {
		display: none;
	}
}
.basket-list .item__descr_top {
	text-align: center !important;
	span {
		margin-right: 60px;
		@media screen and (min-width: 1248px) {
			margin-right: 35px;
		}
	}
}
.basket-list_composition-mini{
	background: #f6f6f6;
	margin: 0 auto;
	max-width: 350px;
	width: 100%;
	.item{
		padding: 0;
		margin-bottom: 0;
		border-bottom: 3px solid #fff;
	}
	.item-in{
		margin: 0 auto;
	}
	.item__mob{
		float: left;
		border-right: 3px solid #fff;
		text-align: center;
		height: 75px;
		padding-top: 35px;
		span{
			color: #525252;
			font-size: 12px;
			display: block;
			padding-bottom: 4px;
		}
		a{
			font-size: 14px;
			display: block;
			color: #7f2461;
			font-style: italic;
		}
		&:last-child{
			border: none;
		}
	}
	.item__num{
		width: 15%;
	}
	.item__stats{
		width: 40%;
	}
	.item__total{
		width: 45%;
		padding-top: 20px;
	}
	@media only screen and (min-width : 686px) {
		display: none;
	}
}
.composition-page{
	.showprice__wrap{
		padding-bottom: 35px;
		@media only screen and (max-width : 769px) {
			padding-bottom: 20px;
		}
	}
}
.composition-in{
	.manager{
		margin: 5px 0 35px;
		@media only screen and (min-width : 550px) {
			float: right;
		}
	}
	.composition-order{
		margin-top: -8px;
		.order__back{
			padding-bottom: 20px;
			a{
				display: inline-block;
				font-weight: 600;
				font-size: 12px;
				text-decoration: underline;
				color: #921f6c;
				text-transform: uppercase;
				&:hover{
					text-decoration: none;
				}
			}
			i{
				width: 9px;
				height: 5px;
				margin-right: 2px;
				display: inline-block;
				transform: rotate(180deg);
				background: url(../img/home.png);
			}
		}
		.order__line{
			color: #525252;
			span{
				font-size: 13px;
				font-weight: 700;
				width: 115px;
				display: inline-block;
				padding-bottom: 11px;
			}
			i{
				font-size: 14px;
				display: inline-block;
				font-style: normal;
				padding-bottom: 11px;
			}
		}
		.order__re{
			padding: 5px 0 15px;
			a{
				color: #921f6c;
				font-size: 14px;
				font-weight: 600;
				font-style: italic;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
		@media only screen and (min-width : 550px) {
			float: left;
		}
	}
}
.main-page{
	.user__name{
		display: block;
		color: #93467c;
		font-size: 26px;
		font-weight: 600;
		font-style: italic;
		margin-top: -13px;
		padding-bottom: 23px;
		padding-left: 15px;
		text-transform: capitalize;
		border-bottom: 1px solid #e8e8e8;
		@media only screen and (max-width : 770px) {
			font-size: 24px;
		}
	}
	.main__links{
		margin-top: 20px;
		margin-bottom: 20px;
		@media only screen and (min-width : 992px) {
			float: left;
		}
	}
	.main__link{
		margin-top: 5px;
		margin-right: 1px;
		text-transform: uppercase;
		text-align: center;
		background: #f2f2f2;
		transition: 0.3s all ease;
		display: inline-block;
		span{
			cursor: pointer;
			font-size: 12px;
			display: block;
			line-height: 54px;
			padding: 0 32px;
			color: #000;
			@media only screen and (max-width : 1200px) {
				padding: 0 20px;
				font-size: 11px;
				line-height: 43px;
				letter-spacing: -0.5px;
			}
		}
		&.active{
			background: #93467c;
			span{
				color: #fff;
			}
		}
		&:hover{
			background: #93467c;
			span{
				color: #fff;
			}
		}
		@media only screen and (min-width : 992px) {
			float: left;
		}
		@media only screen and (max-width : 400px) {
			float: left;
			display: block;
			width: 50%;
			margin-right: 0;
			border-right: 3px solid #fff;
			span{
				padding: 0;
			}
		}
	}
	.manager{
		display: none;
		@media only screen and (min-width : 992px) {
			float: right;
			display: block;
			margin-top: 10px;
		}
	}
	.showprice__wrap{
		padding-bottom: 40px;
	}
	.form__info .checkbox__label{
		margin-right: 20px;
	}
}
.tab-content{
	padding: 48px 0 0;
	@media only screen and (max-width : 770px) {
		padding: 20px 0 0;
	}
}
.settings__title{
	display: block;
	font-weight: 600;
	font-size: 16px;
	color: #000;
	padding: 0 0 15px 8px;
	@media only screen and (max-width : 770px) {
		font-size: 14px;
	}
}
.setting__manager{
	float: right;
	width: 640px;
	margin-bottom: 30px;
	&-in{
		padding: 37px 20px 50px 32px;
		background: #f6f6f6;
		@media only screen and (max-width : 770px) {
			margin: 0 -15px;
			padding: 25px 15px 35px;
		}
	}
	.manager{
		float: none;
		display: block!important;
	}
	.manager__img{
		@media only screen and (min-width : 992px) {
			width: 155px;
			height: 181px;
		}
	}
	.manager__info{
		@media only screen and (min-width : 992px) {
			margin-left: 198px;
			padding-top: 6px;
		}
	}
	.info-row{
		padding-bottom: 30px;
		@media only screen and (max-width : 770px) {
			padding-bottom: 5px;
			strong{
				font-size: 11px;
			}
			span, em, a, p{
				font-size: 12px;
			}
			p{
				line-height: 19px;
			}
		}
	}
	.left{
		float: left;
		color: #525252;
		font-size: 13px;
		font-weight: 700;
		display: block;
		width: 96px;
		@media only screen and (max-width : 991px) {
			display: none;
		}
	}
	.right{
		@media only screen and (min-width : 992px) {
			margin-left: 96px;
		}
	}
	p{
		font-size: 14px;
		line-height: 22px;
	}
	.manager-choose{
		padding: 0 25px;
		background: #fff;
		margin-top: 25px;
		position: relative;
		border: 1px solid #d0d0d0;
		.choose__btn{
			color: #6b6b6b;
			font-size: 14px;
			line-height: 41px;
			height: 41px;
			cursor: pointer;
			position: relative;
			display: block;
			&::before{
				content: "";
				width: 9px;
				height: 6px;
				background: url(../img/down.png);
				position: absolute;
				margin-top: -3px;
				top: 50%;
				right: 0;
			}
			&.active::before{
				transform: rotate(180deg);
			}
		}
		.managers-block{
			display: none;
			padding-bottom: 47px;
			position: absolute;
			top: 41px;
			left: -1px;
			right: -1px;
			border: 1px solid #d0d0d0;
			border-top: 0;
			background: #fff;
			padding: 0 25px;
			z-index: 1000;
		}
		.manager-cart{
			display: block;
			padding: 30px 0 3px;
			@media only screen and (max-width : 992px) {
				padding: 15px 0 3px;
			}
			.img-wrap{
				height: 110px;
				width: 95px;
				overflow: hidden;
				float: left;
				img{
					display: block;
					width: 100%;
					height: auto;
					min-height: 100%;
				}
				@media only screen and (max-width : 992px) {
					margin-bottom: 10px;
					float: none;
				}
			}
			.text-wrap{
				margin-left: 123px;
				@media only screen and (max-width : 992px) {
					margin-left: 0;
				}
			}
			.manager__name{
				display: block;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 14px;
				padding-bottom: 10px;
				color: #000;
			}
			.manager__status{
				display: block;
				color: #525252;
				font-size: 14px;
				padding-bottom: 10px;
				@media only screen and (max-width : 992px) {
					font-size: 11px;
					padding-bottom: 5px;
				}
			}
			.manager__text{
				display: block;
				color: #525252;
				font-size: 14px;
				padding-bottom: 18px;
				line-height: 22px;
				@media only screen and (max-width : 992px) {
					font-size: 11px;
					padding-bottom: 5px;
					line-height: 18px;
				}
			}
			&:hover{
				span, p{
					color: #7f2461;
				}
			}
		}
	}
	@media only screen and (max-width : 1199px) {
		width: 500px;
	}
	@media only screen and (max-width : 991px) {
		width: 342px;
	}
	@media only screen and (max-width : 770px) {
		width: 100%;
		float: none;
	}
}
.setting__forms{
	float: left;
	width: 530px;
	padding-right: 33px;
	@media only screen and (max-width : 1199px) {
		width: 470px;
	}
	@media only screen and (max-width : 991px) {
		width: 400px;
	}
	@media only screen and (max-width : 770px) {
		width: 100%;
		float: none;
		padding-right: 0;
	}
	.input{
		max-width: none;
		margin-bottom: 22px;
		&_grey{
			background: #f7f7f7;
		}
	}
	.form__info{
		padding: 35px 0 13px 16px;
		p{
			line-height: 22px;
			float: left;
			max-width: 280px;
			@media only screen and (max-width : 992px) {
				float: none;
			}
		}
		.rb-wrap{
			float: right;
			width: 140px;
			padding-top: 15px;
			@media only screen and (max-width : 992px) {
				float: none;
			}
		}
	}
	.form__button{
		text-align: center;
	}
}
.order__table{
	.table-row{
		display: table;
		.table-cell{
			border-right: 3px solid #fff;
			border-bottom: 3px solid #fff;
			display: table-cell;
			&:first-child{
				width: 126px;
			}
			&:nth-child(2){
				width: 193px;
			}
			&:nth-child(3){
				width: 237px;
			}
			&:nth-child(4){
				width: 194px;
			}
			&:nth-child(5){
				width: 189px;
			}
			&:nth-child(6){
				width: 217px;
				border-right: none;
			}
			@media only screen and (max-width : 500px) {
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(5){
					display: none;
				}
			}
		}
	}
	.table-row_title{
		@media only screen and (max-width : 770px) {
			display: none;
		}
		.table-cell{
			text-transform: uppercase;
			text-align: center;
			color: #000;
			font-size: 11px;
			padding: 10px 0;
			font-weight: 600;
			@media only screen and (max-width : 992px) {
				font-size: 9px;
			}
		}
	}
	.table-row_grey{
		display: table;
		.table-cell{
			height: 75px;
			color: #525252;
			font-size: 14px;
			text-align: center;
			vertical-align: middle;
			background: #f6f6f6;
			a{
				color: #7f2461;
				font-size: 14px;
				font-style: italic;
				display: block;
				line-height: 1.4;
			}
			@media only screen and (min-width : 500px) {
				height: 115px;
				.table-cell-mob{
					display: none;
				}
			}
		}
	}
}
.tab-content{
	&__title{
		display: block;
		font-weight: 600;
		font-size: 18px;
		padding-bottom: 25px;
		@media only screen and (max-width : 700px) {
			font-size: 14px;
			padding-bottom: 15px;
		}
	}
	.manager-middle{
		display: block!important;
		float: none;
		margin-bottom: 42px;
		.manager__img{
			width: 112px;
			height: 130px;
			@media only screen and (max-width : 700px) {
				width: 68px;
				height: 77px;
			}
		}
		.manager__info{
			margin-left: 155px;
			padding-top: 4px;
			@media only screen and (max-width : 700px) {
				margin-left: 77px;
			}
		}
		.left{
			display: inline-block;
			width: 93px;
			font-weight: 700;
			font-size: 13px;
			color: #525252;
			@media only screen and (max-width : 700px) {
				display: none;
			}
		}
		.right{
			display: inline-block;
			font-size: 14px;
			@media only screen and (max-width : 700px) {
				font-size: 11px;
			}
		}
		.info-row{
			padding-bottom: 10px;
			@media only screen and (max-width : 700px) {
				padding-bottom: 0px!important;
			}
		}
		.info-row:first-child{
			padding-bottom: 30px;
		}
	}
}
.questions-block{
	padding: 37px 49px 80px;
	background: #f6f6f6;
	@media only screen and (max-width : 700px) {
		padding: 20px 15px 50px;
		margin: 0 -15px;
	}
	&__title{
		display: block;
		color: #000;
		font-size: 16px;
		font-weight: 600;
		padding-bottom: 25px;
		@media only screen and (max-width : 700px) {
			font-size: 12px;
		}
	}
	.questions-button{
		text-align: center;
		color: #7f2461;
		font-size: 14px;
		font-weight: 600;
		font-style: italic;
		padding-bottom: 36px;
		span{
			display: inline-block;
			padding-left: 15px;
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
		&_old span{
			background: url(../img/clearfilter-fiol.png) left center no-repeat;
		}
		&_delete{
			padding-top: 14px;
			span{
				background: url(../img/close-btn-fiol.png) left center no-repeat;
			}
		}
		@media only screen and (max-width : 700px) {
			font-size: 12px;
		}
	}
	.question{
		padding-bottom: 22px;
		@media only screen and (max-width : 700px) {
			padding-bottom: 16px;
		}
		&__name{
			color: #000;
			float: left;
			font-style: italic;
			line-height: 20px;
			font-size: 14px;
			width: 93px;
			i{
				display: block;
				font-size: 12px;
			}
			@media only screen and (max-width : 700px) {
				font-size: 12px;
				width: 80px;
			}
		}
		&__text{
			margin-left: 95px;
			color: #525252;
			font-size: 14px;
			line-height: 22px;
			@media only screen and (max-width : 700px) {
				font-size: 12px;
				margin-left: 88px;
			}
		}
		&_manager{
			padding-bottom: 37px;
			.question__name {
				color: #7f2461;
			}
			@media only screen and (max-width : 700px) {
				padding-bottom: 20px;
			}
		}
	}
	.input{
		max-width: none;
		margin-bottom: 35px;
		textarea{
			display: block;
		}
		@media only screen and (max-width : 700px) {
			font-size: 30px;
		}
	}
	.button-wrap{
		text-align: center;
		button{
			border: none;
			width: auto;
		}
	}
}
.testimonials__btn {
	padding: 11px 52px;
}
