.no-padding {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 992px) {
    .no-padding {
      width: 970px; } }
  @media only screen and (min-width: 1200px) {
    .no-padding {
      width: 1170px; } }

.header-bottom__style {
  padding-top: 17px;
  padding-bottom: 31px;
  background: url(../img/hbg.jpg) no-repeat top center;
  background-size: cover;
  border-bottom: 1px solid #c3b68a; }

.burger {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer; }
  @media only screen and (min-width: 992px) {
    .burger {
      display: none; } }
  .burger .fa-bars {
    font-size: 26px;
    color: #1E0700; }

.header-bottom__box1 {
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 14px;
  margin-bottom: 13px; }
  @media only screen and (min-width: 768px) {
    .header-bottom__box1 {
      border-bottom: none; } }
.header-bottom__box:last-child {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 16px; }
  @media only screen and (min-width: 320px) {
    .header-bottom__box:last-child {
      padding-left: 46px; } }
  .header-bottom__box:last-child span {
    font-size: 13px; }
    .header-bottom__box:last-child span b {
      font-size: 12px;
      font-weight: 400;
      color: #989797; }
.header-bottom__box3 {
  padding-left: 7px;
  padding-right: 15px;
  padding-top: 26px; }
  @media only screen and (min-width: 320px) {
    .header-bottom__box3 {
      padding-left: 38px; } }
  @media only screen and (min-width: 768px) {
    .header-bottom__box3 {
      padding-left: 0;
      padding-top: 0; } }
@media only screen and (min-width: 768px) {
  .header-bottom__box1 {
    float: left;
    width: 33%; } }
  @media only screen and (min-width: 768px) and (min-width: 992px) {
    .header-bottom__box1 {
      width: 31%; } }
@media only screen and (min-width: 768px) {
  .header-bottom__box2 {
    float: right;
    width: 39%; } }
  @media only screen and (min-width: 768px) and (min-width: 992px) {
    .header-bottom__box2 {
      padding-top: 41px; } }
@media only screen and (min-width: 768px) {
  .header-bottom__box3 {
    float: left;
    width: 27%; } }
  @media only screen and (min-width: 768px) and (min-width: 992px) {
    .header-bottom__box3 {
      width: 29%;
      padding-top: 41px; } }

.header-bottom__box {
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .header-bottom__box {
      text-align: left; } }
  .header-bottom__box span {
    display: inline-block; }
  .header-bottom__box_item1 {
    display: inline-block;
    background: url(../img/tel.png) no-repeat left top 10px;
    padding-left: 33px;
    padding-right: 26px; }
    .header-bottom__box_item1 span {
      font-weight: 600;
      font-size: 13px; }
    @media only screen and (min-width: 768px) {
      .header-bottom__box_item1 {
        background: url(../img/tel.png) no-repeat left top 19px;
        height: 44px; } }
    @media only screen and (min-width: 992px) {
      .header-bottom__box_item1 {
        background: url(../img/tel.png) no-repeat left top 10px;
        float: left;
        width: 39%;
        padding-right: 0; }
        .header-bottom__box_item1 span {
          font-size: 14px; } }
    @media only screen and (min-width: 1240px) {
      .header-bottom__box_item1 {
        margin-left: 27px;
        width: 38%; } }
  .header-bottom__box_item2 {
    display: inline-block; }
    .header-bottom__box_item2 span {
      font-weight: 600;
      font-size: 13px; }
    @media only screen and (min-width: 992px) {
      .header-bottom__box_item2 {
        float: left;
        width: 30%; }
        .header-bottom__box_item2 span {
          font-size: 14px; } }
    @media only screen and (min-width: 1240px) {
      .header-bottom__box_item2 {
        width: 25%; } }
  .header-bottom__box_item3 {
    text-align: left;
    width: 200px;
    margin: 0 auto; }
    .header-bottom__box_item3 a {
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      font-weight: 600;
      text-decoration: underline;
      text-transform: uppercase;
      color: #921f6c; }
    @media only screen and (min-width: 768px) {
      .header-bottom__box_item3 {
        text-align: right;
        width: 222px; } }
    @media only screen and (min-width: 992px) {
      .header-bottom__box_item3 {
        float: left;
        width: 31%;
        padding-top: 7px; }
        .header-bottom__box_item3 a {
          font-size: 12px; } }
  .header-bottom__box_item4 {
    display: inline-block;
    background: url(../img/map.png) no-repeat left top 6px;
    padding-left: 30px; }
    .header-bottom__box_item4 span {
      color: #5a5a5a;
      font-size: 12px; }
      @media only screen and (min-width: 768px) {
        .header-bottom__box_item4 span {
          font-size: 14px; } }
      .header-bottom__box_item4 span b {
        font-style: italic;
        color: #989797;
        font-size: 13px; }
        @media only screen and (min-width: 1240px) {
          .header-bottom__box_item4 span b {
            padding-left: 27px; } }
    @media only screen and (min-width: 768px) {
      .header-bottom__box_item4 {
        background: url(../img/map.png) no-repeat left top 19px; } }
    @media only screen and (min-width: 992px) {
      .header-bottom__box_item4 {
        background: url(../img/map.png) no-repeat left top 8px; } }
  @media only screen and (min-width: 768px) {
    .header-bottom__box {
      display: inline-block; } }

.main-menu {
  display: none;
  z-index: 9999; }
  .main-menu__style {
    text-align: center;
    background: #fff;
    padding: 32px 0px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    position: absolute;
    width: 100%;
    left: 0;
    top: 32px; }
    @media only screen and (min-width: 992px) {
      .main-menu__style {
        position: relative;
        background: transparent;
        border-bottom: none;
        padding: 21px 0px; } }
    .main-menu__style ul li {
      margin-bottom: 22px; }
      @media only screen and (min-width: 992px) {
        .main-menu__style ul li {
          display: inline-block;
          margin-bottom: 0;
          margin-right: 34px; } }
  @media only screen and (min-width: 992px) and (min-width: 1240px) {
    .main-menu__style ul li {
      margin-right: 41px; } }
      @media only screen and (min-width: 992px) {
          .main-menu__style ul li:last-child {
            margin-right: 0; } }
      .main-menu__style ul li a {
        font-size: 13px;
        font-weight: 700;
        display: inline-block;
        text-transform: uppercase;
        color: black; }
        .main-menu__style ul li a:hover {
          color: #C58912; }
  .main-menu__ul {
    position: relative; }
  .main-menu__closer {
    position: absolute;
    left: 13px;
    top: -21px;
    cursor: pointer;
    z-index: 9999; }
    @media only screen and (min-width: 992px) {
      .main-menu__closer {
        display: none; } }
  @media only screen and (min-width: 992px) {
    .main-menu {
      display: block; } }

.sp_tel {
  display: inline-block;
  padding-bottom: 5px; }

/* Catalog main
=================================*/
.catalog-main .h2 {
  text-align: center;
  padding: 29px 0px; }
.catalog-main__hidden {
  display: none; }
  @media only screen and (min-width: 768px) {
    .catalog-main__hidden {
      display: block; } }
.catalog-main__button-wrap {
  text-align: center;
  padding: 25px 0px; }
  @media only screen and (min-width: 768px) {
    .catalog-main__button-wrap {
      display: none; } }
.catalog-main__button {
  display: inline-block;
  width: 161px;
  height: 38px;
  border: 2px solid #C1A16A;
  margin: 0 auto;
  font-weight: 600;
  text-transform: uppercase;
  color: #C1A16A;
  font-size: 11px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 33px;
  position: relative; }
  .catalog-main__button:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    right: 25px;
    top: 15px;
    background: url(../img/strd.png); }
  .catalog-main__button_2 {
    display: none; }
    .catalog-main__button_2:after {
      display: none; }
.catalog-main__item {
  border-top: 1px solid #C1A16A;
  border-bottom: 1px solid #C1A16A;
  padding: 16px 0px;
  position: relative; }
  .catalog-main__item:before {
    content: "";
    position: absolute;
    background: url(../img/lg1.jpg);
    width: 72px;
    height: 20px;
    left: 50%;
    top: -1%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .catalog-main__item:after {
    content: "";
    position: absolute;
    background: url(../img/lg2.jpg);
    width: 72px;
    height: 20px;
    left: 50%;
    bottom: -7%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .catalog-main__item li a {
    display: block;
    padding: 11px 31px;
    text-transform: uppercase;
    color: #2c2c2c;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px; }
    .catalog-main__item li a:hover {
      background: #F2F2F2 url(../../img/strs.png) no-repeat left 8px center; }
@media only screen and (min-width: 768px) {
  .catalog-main__ul {
    text-align: left;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }

/*# sourceMappingURL=style-dd.css.map */
