.inner-de { padding: 36px 0 95px; }
@media only screen and (max-width: 700px) { .inner-de { padding: 20px 0; } }
.inner-de .h1-wrap { padding-bottom: 18px; }
.inner-de .breadcrumps-wrap { padding-bottom: 48px; }
.inner-de .google-online { height: 495px; background: #ccc; margin-bottom: 59px; }
.inner-de .pagination-wrap { padding: 35px 0; }
.inner-de strong { font-weight: 600; }

.de-form { max-width: 830px; padding: 30px 11px; margin: 0 auto; }
.de-form .form__title { display: block; color: #535353; font-size: 30px; text-align: center; font-family: 'Playfair Display'; font-style: italic; padding-bottom: 30px; }
.de-form .form-inner { padding-top: 65px 0 22px; background: url(../img/m-decor.png) top center no-repeat; }
.de-form .form-left { float: left; width: 50%; }
.de-form .form-right { float: left; width: 50%; }
.de-form .input-wrap { padding: 0 4px 8px; }
.de-form .input-wrap input { line-height: 41px; height: 41px; }
.de-form .button-wrap { text-align: center; }
.de-form .button-wrap button { border: none; outline: none; }

.about__text p { color: #3d3d3d; font-size: 15px; line-height: 30px; padding-bottom: 30px; }

.testimonials { padding: 36px 0 80px; }
.testimonials .breadcrumps-wrap { padding-bottom: 10px; }

.testimonial { padding: 60px 20px 65px 0; border-bottom: 1px solid #ebe8e8; }
.testimonial__top { padding-bottom: 13px; }
.testimonial__name { color: #000; font-size: 16px; display: block; float: left; font-style: italic; font-weight: 600; padding-bottom: 10px; }
.testimonial__date { color: #7e7e7e; font-size: 14px; display: block; float: right; padding-bottom: 10px; }
.testimonial__text { color: #5c5c5c; font-size: 14px; line-height: 22px; padding-bottom: 34px; }
.testimonial__answer span { color: #7f2461; font-size: 14px; display: inline-block; padding-right: 5px; }
.testimonial__answer p { color: #5c5c5c; font-size: 14px; display: inline; }

.curs { padding: 36px 0 41px; }
.curs .breadcrumps-wrap { padding-bottom: 54px; }

.curs__text { color: #5c5c5c; font-size: 14px; line-height: 22px; padding-bottom: 40px; }

.curs__info { margin: 0 auto 70px; border: 3px solid #f6f6f6; padding: 36px 10px; text-align: center; color: #3d3d3d; font-size: 15px; width: 100%; max-width: 360px; }
.curs__info strong { color: #000; text-transform: uppercase; }
.curs__info i { font-style: normal; color: #7c7c7c; text-transform: uppercase; }
.curs__info b { color: #b58827; font-weight: 600; display: inline-block; padding-left: 3px; }

.curs__table-title { font-size: 16px; color: #1f1f1f; font-weight: 600; display: block; padding-bottom: 18px; }

.tech { padding: 20px 0; }
.tech .all-h .h1 { text-align: left; }
.tech .h1_slider-wrap h1 { text-align: left; }
.tech .h1_slider-wrap h1 span { text-transform: none; color: #2f2f2f; font-size: 14px; }
.tech .all-buttons { padding: 65px 0 20px; border-top: 1px solid #ccc; }
.tech .all-buttons__title { display: block; font-size: 14px; color: #000; padding-bottom: 40px; }
.tech .block-wrap { padding-bottom: 20px; }
.tech a { margin-bottom: 15px; display: inline-block; }
.tech .call_link { margin-bottom: 15px; display: inline-block; }
.tech .call_link_dis { text-decoration: none; }
.tech .header_auth_list_link { display: inline-block; margin: 0 20px 10px 0; }
.tech .favourite_empty { background: url(../img/heart.png); background-size: cover; }
.tech .favourite_full { background: url(../img/heart-full.png); background-size: cover; }
.tech .signin { text-decoration: underline; display: inline-block; padding: 0 20px 15px 0; }
.tech .signin_dis { text-decoration: none; }
.tech .button__news { text-align: center; display: inline-block; margin: 0 0 20px 130px; background: #fff; border-color: #7f2461; }
.tech .button__news span { color: #7f2461 !important; }
.tech .button__news_dis { background: #7f2461; }
.tech .button__news_dis span { color: #fff !important; }
.tech .button__basket_dis { background: #93467c; }
.tech .button__feedback { display: inline-block; text-decoration: underline; color: #393939; font-size: 16px; font-weight: 600; font-style: italic; }
.tech .button__feedback_dis { text-decoration: none; }
.tech .button__simple-link { text-transform: uppercase; font-size: 14px; color: #7f2461; font-weight: 600; width: 75px; text-align: right; text-decoration: underline; margin-right: 20px; }
.tech .button__simple-link_dis { text-decoration: none; }
.tech .button__news_buy { margin-left: 0; }
.tech .button__news_buy_dis { background: #7f2461; }
.tech .add-to { display: inline-block; text-align: center; padding-bottom: 20px; }
.tech .add-to a { margin: 0; }
.tech .add-to span { padding-top: 3px; color: #7f2461; font-size: 14px; font-style: italic; font-weight: 600; font-family: 'Playfair Display'; display: block; }
.tech .demo-title { font-size: 16px; color: #000; padding-bottom: 15px; }

@media only screen and (min-width: 770px) { .sale-row { margin: 0 -11px; padding-bottom: 45px; } }

.sale { float: left; width: 50%; padding: 0 11px; }
@media only screen and (max-width: 770px) { .sale { width: 100%; float: none; margin: 0 auto 30px; max-width: 400px; } }
.sale .sale__img { display: block; height: 266px; overflow: hidden; position: relative; background: #edebeb; }
@media only screen and (max-width: 1000px) { .sale .sale__img { height: 200px; } }
@media only screen and (max-width: 770px) { .sale .sale__img { height: 140px; } }
.sale .sale__img img { display: block; width: 100%; height: auto; min-height: 100%; }
.sale .sale__img_border { border-right: 1px solid #edebeb; }
.sale .sale__img::before { content: ""; display: block; background: transparent; border: 1px solid #fff; position: absolute; top: 8px; bottom: 8px; left: 10px; right: 10px; z-index: 11; }
.sale .sale__img_bg::after { content: ""; display: block; background: #7d6dad; position: absolute; width: 340px; height: 340px; border-radius: 50%; right: -70px; top: 50%; margin-top: -170px; z-index: 5; }
@media only screen and (max-width: 1000px) { .sale .sale__img_bg::after { right: -100px; } }
@media only screen and (max-width: 770px) { .sale .sale__img_bg::after { display: none; } }
.sale .sale__info { position: absolute; z-index: 10; top: 86px; right: 30px; }
.sale .sale__info span { color: #454545; font-size: 30px; font-weight: 700; display: block; padding-bottom: 13px; text-align: right; }
@media only screen and (max-width: 1000px) { .sale .sale__info span { font-size: 24px; } }
@media only screen and (max-width: 770px) { .sale .sale__info span { font-size: 18px; } }
.sale .sale__info i { display: block; font-style: normal; color: #181818; font-size: 15px; text-align: right; }
@media only screen and (max-width: 770px) { .sale .sale__info i { font-size: 11px; } }
@media only screen and (max-width: 770px) { .sale .sale__info { top: 45px; right: 15px; } }
.sale .sale__info_red { top: 54px; right: 59px; }
@media only screen and (max-width: 770px) { .sale .sale__info_red { top: 30px; right: 15px; } }
.sale .sale__info_red span { color: #c20f1b; }
.sale .sale__info_white { right: 35px; top: 78px; }
@media only screen and (max-width: 770px) { .sale .sale__info_white { top: 45px; right: 15px; } }
.sale .sale__info_white span, .sale .sale__info_white i { color: #fff; }
.sale .sale__text { padding: 26px 0 0 10px; }
@media only screen and (max-width: 770px) { .sale .sale__text { padding: 13px 0 0; } }
.sale .sale__text span { display: block; font-weight: 700; text-transform: uppercase; font-size: 16px; color: #525252; padding-bottom: 5px; }
@media only screen and (max-width: 770px) { .sale .sale__text span { font-size: 14px; } }
.sale .sale__text p { color: #6b6b6b; line-height: 25px; font-size: 14px; }
@media only screen and (max-width: 770px) { .sale .sale__text p { font-size: 12px; line-height: 18px; } }
@media only screen and (max-width: 770px) { .sale .sale__text .ul-wrap { display: none; } }
.sale .sale__text .ul { float: left; width: 228px; padding-right: 8px; }
.sale .sale__text .ul_center { padding-top: 10px; }
@media only screen and (max-width: 1000px) { .sale .sale__text .ul_center { padding-top: 0; } }
.sale .sale__text li { line-height: 30px; }
