.no-padding{
	padding-left: 0;
	padding-right: 0;
	position: relative;
	width: 100%;
	@media only screen and (min-width : 992px) {
		width:970px; 
	}
	@media only screen and (min-width : 1200px) {
		width:1170px; 
	}
}
.header-bottom__style{
	padding-top: 17px;
	padding-bottom: 31px;
	background:url(../img/hbg.jpg) no-repeat top center;
	background-size:cover;
	border-bottom: 1px solid #c3b68a; 
}
.burger{
	position: absolute;
	left: 10px;
	top:10px;
	cursor: pointer;
	@media only screen and (min-width : 992px) {
		display: none;
	}
	.fa-bars{
		font-size: 26px;
		color:#1E0700;
	}
}
.header-bottom{
	&__box1{
		border-bottom: 1px solid #ECECEC;
		padding-bottom: 14px;
		margin-bottom: 13px;
		@media only screen and (min-width : 768px) {
			border-bottom: none;
		}
	}
	&__box:last-child{
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 16px;
		@media only screen and (min-width : 320px) {
			padding-left: 46px;
		}
		span{
			font-size: 13px;
			b{
				font-size: 12px;
				font-weight: 400;
				color: #989797;
			}
		}
	}
	&__box3{
		padding-left: 7px;
		padding-right: 15px;
		padding-top: 26px;
		@media only screen and (min-width : 320px) {
			padding-left: 38px;
		}
		@media only screen and (min-width : 768px) {
			padding-left: 0;
			padding-top: 0;
		}
	}
	@media only screen and (min-width : 768px) {
		&__box1{
			float: left;
			width: 33%;
			@media only screen and (min-width : 992px) {
				width: 31%;
			}
		}
		&__box2{
			float: right;
			width: 39%;
			@media only screen and (min-width : 992px) {
				padding-top: 41px;
			}
		}
		&__box3{
			float: left;
			width: 27%;
			@media only screen and (min-width : 992px) {
				width: 29%;
				padding-top: 41px;
			}
		}
	}
}
.header-bottom__box{
	text-align: center;
	@media only screen and (min-width : 768px) {
		text-align: left;
	}
	span{
		display: inline-block;
	}
	&_item1{
		display: inline-block;
		background:url(../img/tel.png) no-repeat left top 10px;
		padding-left: 33px;
		padding-right: 26px;
		span{
			font-weight: 600;
			font-size: 13px;
		}
		@media only screen and (min-width : 768px) {
			background:url(../img/tel.png) no-repeat left top 19px;
			height: 44px;
		}
		@media only screen and (min-width : 992px) {
			background:url(../img/tel.png) no-repeat left top 10px;
			float: left;
			width: 39%;
			padding-right: 0;
			span{
				font-size: 14px;
			}
		}
		@media only screen and (min-width : 1240px) {
			margin-left: 27px;
			width: 38%;
		}
	}
	&_item2{
		display: inline-block;
		span{
			font-weight: 600;
			font-size: 13px;
		}
		@media only screen and (min-width : 992px) {
			float: left;
			width: 30%;
			span{
				font-size: 14px;
			}
		}
		@media only screen and (min-width : 1240px) {
			width: 25%;
		}
	}
	&_item3{
		text-align: left;
		width: 200px;
		margin: 0 auto;
		a{
			font-family: 'Open Sans', sans-serif;
			font-size: 11px;
			font-weight: 600;
			text-decoration: underline;
			text-transform: uppercase;
			color: #921f6c;
		}
		@media only screen and (min-width : 768px) {
			text-align: right;
			width: 222px;
		}
		@media only screen and (min-width : 992px) {
			float: left;
			width: 31%;
			padding-top: 7px;
			a{
				font-size: 12px;
			}
		}
	}
	&_item4{
		display: inline-block;
		background:url(../img/map.png) no-repeat left top 6px;
		padding-left: 30px;
		span{
			color: #5a5a5a;
			font-size: 12px;
			@media only screen and (min-width : 768px) {
				font-size: 14px;
			}
			b{
				font-style: italic;
				color: #989797;
				font-size: 13px;
				@media only screen and (min-width : 1240px) {
					padding-left: 27px;
				}
			}
		}
		@media only screen and (min-width : 768px) {
			background:url(../img/map.png) no-repeat left top 19px;
		}
		@media only screen and (min-width : 992px) {
			background:url(../img/map.png) no-repeat left top 8px;
		}
	}
	@media only screen and (min-width : 768px) {
		display: inline-block;
	}
}

// Меню
.main-menu{
	display: none;
	z-index: 9999;
	&__style{
		text-align: center;
		background:#fff;
		padding: 32px 0px;
		border-top: 1px solid #E5E5E5;
		border-bottom: 1px solid #E5E5E5;
		position: absolute;
		width: 100%;
		left:0;
		top:32px;
		@media only screen and (min-width : 992px) {
			position: relative;
			background:transparent;
			border-bottom: none;
			padding: 21px 0px;
		}
		ul{
			li{
				margin-bottom: 22px;
				@media only screen and (min-width : 992px) {
					display: inline-block;
					margin-bottom: 0;
					margin-right: 34px;
					@media only screen and (min-width : 1240px) {
						margin-right: 41px;
					}
					&:last-child{
						margin-right: 0;
					}
				}
				a{
					font-size: 13px;
					font-weight: 700;
					display: inline-block;
					text-transform: uppercase;
					color: black;
					&:hover{
						color:#C58912;
					}
				}
			}
		}
	}
	&__ul{
		position: relative;
	}
	&__closer{
		position: absolute;
		left:13px;
		top:-21px;
		cursor: pointer;
		z-index: 9999;
		@media only screen and (min-width : 992px) {
			display: none;
		}
	}
	@media only screen and (min-width : 992px) {
		display: block;
	}
}
.sp_tel{
	display: inline-block;
	padding-bottom: 5px;
}

/* Catalog main
=================================*/
.catalog-main{
	.h2{
		text-align: center;
		padding: 29px 0px;
	}
	&__hidden{
		display: none;
		@media only screen and (min-width : 768px) {
			display: block;
		}
	}
	&__button-wrap{
		text-align: center;
		padding: 25px 0px;
		@media only screen and (min-width : 768px) {
			display: none;
		}
	}
	&__button{
		display: inline-block;
		width: 161px;
		height: 38px;
		border: 2px solid #C1A16A;
		margin: 0 auto;
		font-weight: 600;
		text-transform: uppercase;
		color: #C1A16A;
		font-size: 11px;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		line-height: 33px;
		position: relative;
		&:after{
			content:"";
			position: absolute;
			width: 8px;
			height: 5px;
			right: 25px;
			top: 15px;
			background:url(../img/strd.png);
		}
		&_2{
			display: none;
			&:after{
				display: none;
			}
		}
	}
	&__item{
		border-top: 1px solid #C1A16A;
		border-bottom: 1px solid #C1A16A;
		padding: 16px 0px;
		position: relative;
		&:before{
			content:"";
			position: absolute;
			background:url(../img/lg1.jpg);
			width: 72px;
			height: 20px;
			left: 50%;
			top:-1%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		&:after{
			content:"";
			position: absolute;
			background:url(../img/lg2.jpg);
			width: 72px;
			height: 20px;
			left: 50%;
			bottom:-7%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		li{
			a{
				display: block;
				padding: 11px 31px;
				text-transform: uppercase;
				color: #2c2c2c;
				font-weight: 600;
				font-family: 'Open Sans', sans-serif;
				text-decoration: none;
				font-size: 12px;
				letter-spacing: 1px;
				&:hover{
					background:#F2F2F2 url(../../img/strs.png) no-repeat left 8px center;
				}
			}
		}	
	}
	&__ul{
		@media only screen and (min-width : 768px) {
			text-align: left;
			-webkit-column-count: 4; 
			-moz-column-count: 4; 
			column-count: 4;
		}
	}
}
