.input_theme_rosa {
  max-width: 300px;
  @media screen and (min-width: 1248px) {
    max-width: 250px;
  }
  width: 100%;
  background: #fff;
}
.input__control{
  color: #6b6b6b;
	font-family: "OpenSans";
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	background: transparent;
	padding: 16px 18px;
	outline: none;
	width: 100%;
	border: 1px solid #e3e3dc;
}

.form-select{
	cursor: pointer;
}
.jq-selectbox{
	padding: 0;
}
.jq-selectbox.focused .jq-selectbox__select{
 	border: none;
}
.jq-selectbox__select{
	background: #fff;
	border: none;
	border-radius: 0;
	box-shadow: none;
	&:hover{
		background: none;
	}
}
.jq-selectbox__trigger{
	border: none;
}
.jq-selectbox .placeholder{
	color: transparent;
}
.jq-selectbox li:hover{
	background: #a7a7a7;
}
