.ol { padding-left: 15px; max-width: 870px; }
.ol__li { font-size: 14px; color: #333; list-style: none; padding: 0 0 10px 29px; line-height: 20px; position: relative; }
.ol__num { display: block; border-radius: 50%; font-size: 14px; font-weight: 700; font-style: italic; color: #a49864; line-height: 24px; width: 24px; position: absolute; left: -4px; top: 0; border: 1px solid #9c9c9c; text-align: center; box-sizing: border-box; }
