.call_link {
  color: #921f6c;
  font-family: "OpenSans",sans-serif;
  font-size: 11px;
  line-height: 1.3;
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
}

.call_link:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .call_link {
    font-size: 12px;
  }
}
