.ul {
	padding-left: 13px;
	max-width: 870px;
	&__li {
		font-size: 14px;
		color: #333;
		list-style: none;
		padding: 0 0 10px 26px;
		line-height: 20px;
		background: url(../../img/ul-ic.png) 0 2px no-repeat;
	}
}