.breadcrumps{
	display: block;
	list-style: none;
	text-align: center;
}
.breadcrumps__link{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-style: italic;	
	letter-spacing: 0.2px;
	a{
		display: inline-block;		
		text-decoration: none;
		color: #7f2461;
	}
	span{
		display: inline-block;
		color: #989797;
	}
}
.breadcrumps__link_home a{
	background-image: url("../../img/home.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right:15px;
}