.pagination{
	display: block;
	list-style: none;
	text-align: right;
}
.pagination__link{
	display: inline-block;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
	letter-spacing: 0.2px;
  padding: 0 2px;
	a{
		display: inline-block;
		text-decoration: none;
		color: #7f2461;
	}
	span{
		display: inline-block;
		color: #797979;
	}
}
.pagination__link_home a{
	background-image: url("../../img/home.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right:15px;
}
