.pagination {
  list-style: none;
  text-align: right;
}

.pagination__link {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  padding: 0 2px;
}

.pagination__link a {
  text-decoration: none;
  color: #7f2461;
}

.pagination__link span {
  color: #797979;
}

.pagination__link_home a {
  background-image: url("../../img/home.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 15px;
}
