.manager__img { margin-top: 3px; width: 80px; height: 95px; overflow: hidden; float: left; }
.manager__img img { display: block; width: 100%; height: auto; min-height: 100%; }
.manager__info { margin-left: 92px; color: #000; }
.manager__info span { font-size: 12px; display: block; padding-bottom: 4px; }
.manager__info strong { font-weight: 600; text-transform: uppercase; display: block; padding-bottom: 1px; }
.manager__info i { font-style: normal; display: block; font-size: 13px; padding-bottom: 1px; }
.manager__mail { display: block; color: #0b5cb7; font-size: 13px; text-decoration: none; }
.manager__question { font-weight: 600; font-style: italic; font-size: 13px; color: #921f6c; text-decoration: underline; }
