
.tovar_img{
	position: relative;
	width: 275px;
	transition:0.5s;
	display: inline-block;	
	@media only screen and (min-width : 800px) {
		width: 243px;
	}
	@media only screen and (min-width : 1150px) {
		width: 275px;
		&:hover{
			.tovar_img__hover{		
				opacity: 1;
				a{
					display: inline-block;
				}
			}
		}
	}
}
.tovar_img__img{
	img{
		width: 100%;
		height: auto;
	}
}
.tovar_img__hover{
	opacity:0;
	cursor: pointer;
	position: absolute;
	top:6px;
	left:7px;
	bottom: 6px;
	right: 7px;
	max-width: 262px;
	width: 100%;
	height: 235px;
	background-color: rgba(#fff, 0.7);
	text-align: center;
	background-image: url("../../img/heart.png");
	background-repeat: no-repeat;
	background-position: center bottom 37%; 
	transition:0.4s;
	display: block;
	@media only screen and (min-width : 800px) {
		max-width: unset;
		width: 95%;
		height: 208px;
	}
	@media only screen and (min-width : 1150px) {
		max-width: 262px;
		width: 100%;
		height: 235px;
	}
	a{
		padding-top: 35%;
		color: #525252;
		font-family: "PlayfairDisplay";
		font-size: 20px;
		font-style: italic;
		text-decoration: none;		
		display: none;
	}
	&:after{
		content: "";
		position: absolute;
		bottom:11px;//9
		left:11px;
		width: 72px;
		height: 72px;
		background: url("../../img/figur1.png") no-repeat center;
	}
	&:before{
		content: "";
		position: absolute;
		bottom:11px;//9
		right:11px;
		width: 72px;
		height: 72px;
		background: url("../../img/figur2.png") no-repeat center;
	}
}
.tovar_img__border{
	margin: 6px;
	border: 2px solid #fff;	
	height: 219px;
	@media only screen and (min-width : 800px) {
		height: 192px;
	}
	@media only screen and (min-width : 1150px) {
		height: 223px;//219
	}
}

.tovar_img__toplent{		
	position: absolute;
	top: 20px;
	left: -5px;
	width: 100%;
	height: 22px;
	padding: 10px 0px;
	span{
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;
		display: inline-block;
		padding-left: 12px;
		letter-spacing: 0.7px;
	}
}
.tovar_img__toplent_new{
	background: url("../../img/bgtovar.png") no-repeat left;
}
.tovar_img__toplent_sale{
	background: url("../../img/bgtovar2.png") no-repeat left;
}
.tovar_img__toplent_expect{
	background: url("../../img/bgtovar3.png") no-repeat left;
}


.tovar_item{
	width: 275px;
	display: inline-block;
	vertical-align: top;
	min-height: 414px;
	@media only screen and (min-width : 800px) {
		width: 243px;
	}
	@media only screen and (min-width : 1150px) {
		width: 275px;
		&:hover{
			.hovereffect{
				display: inline-block;
			}
		}
	}
	
}
.tovar_item__text{
	padding-top: 20px;
	// padding-left: 12px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	.hovereffect{
		padding: 13px 17px 9px 37px;
		
		span{			
			background: url(../../img/korz.png) no-repeat left 2px top;
			padding-left: 40px;
			padding-right: 40px;
		}
		@media only screen and (min-width : 1150px) {
			margin-left: -11px;
			display: none;
		}
	}
}
.tovar_item__nameproduct{
	display: block;
	color: #525252;
	font-size: 18px;
	font-weight: 400;	
	@media only screen and (min-width : 1200px) {
		padding-left: 12px;
	}
}
.tovar_item__price{
	display: block;
	color: #525252;	
	line-height: 14px;	
	font-size: 18px;
	font-weight: 400;
	padding: 15px 0 18px 0px;
	@media only screen and (min-width : 1200px) {
		padding-left: 12px;
	}
	b{
		font-size: 22px;
		font-weight: 600;
	}
}