.h4 {
	color: #333;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	line-height: 18px;
	letter-spacing: 0.7px;
	@media only screen and (max-width : 1000px) {
		font-size: 16px;
	}
	@media only screen and (max-width : 700px) {
		font-size: 14px;
	}
}