.message_theme_rosa {
  display: block;
  width: 100%;
  resize:none;
  color: #747474;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
	background: #fff;
	padding: 14px 18px;
	outline: none;
	width: 100%;
	border: 1px solid #d1d0d0;;
	min-height: 140px;
}
.input_theme_rosa {
  display: block;
  max-width: 450px;
  width: 100%;
  background: #fff;
}
