.table {
	border-collapse: collapse;
	border: 1px solid #eeebe2;
	background: #fafaf7;
	font-size: 14px;
	color: #333;
	line-height: 22px;
	&__th{
		background: #eeebe2;
		font-weight: 700;
		text-align: left;
		line-height: 1.3;
		padding: 20px 28px 17px;
		border: 1px dotted #777672;
		border-top: none;
		width: 196px;
		&:first-child{
			width: 458px;
		}
	}
	&__td{
		padding: 18px 28px 15px;
		border: 1px dotted #777672;
		max-width: 196px;
		&:first-child{
			width: 458px;
		}
	}
}