html, body, div, span, applet, object, iframe,
h1,h2,h4,h5,h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block; }

	ul {
		list-style: none; }


		blockquote, q {
			quotes: none; }

			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none; 
			}

/////////////////////////////////////////////////////////
.clear{
	clear:both;
}
.table{
	&__item{
		display: table;
		width: 100%;
		padding: 16px 0px;
		&_first{
			padding: 21px 0px;
			background:#CC8FB6;
			span{
				color:#fff;
				font-weight: 400;
				b{
					font-weight: 700;
				}
			}
		}
		&_fl{
			// padding-left: 114px;
			@media only screen and (min-width : 1240px) {
				padding-left: 114px;
			}
		}
		&_txt{
			display: table-cell;
			padding-left: 37px;
			@media only screen and (min-width : 1240px) {
				// padding-left: 150px;
			}
			span{
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				@media only screen and (min-width : 320px) {
					font-size: 14px;
				}
			}
		}
		&_txt2{
			text-align: right;
			padding-right: 37px;
			@media only screen and (min-width : 1240px) {
				padding-right: 161px;
			}
		}
		&_main{
			&_txt1{
				padding-left: 55px;
				@media only screen and (min-width : 1240px) {
					padding-left: 178px;
				}
			}
			&_txt2{
				color: #557230;
				padding-right: 55px;
				@media only screen and (min-width : 1240px) {
					padding-right: 186px;
				}
			}
		}
		&_main1{
			background:#F6F6F6;
		}
		&_main2{
			background:#fff;
		}
	}
}
.table__2{
	display: none;
	.border__left{
		border-left: 3px solid white;
	}
	@media only screen and (min-width : 468px) {
		display: block;
	}
	.table__item_first{
		.table__item_txt{
			@media only screen and (min-width : 1240px) {
				width: 40%;
				padding-right: 20px;
				text-align: right;
			}
		}
		.table__item_txt2{
			@media only screen and (min-width : 1240px) {
				width: 50%;
				padding-right: 152px;
			}
		}
	}
	.table__item_main{
		.table__item_main_txt1{
			@media only screen and (min-width : 1240px) {
				padding-left: 195px;
			}
		}
		.table__item_main_txt2{
			@media only screen and (min-width : 1240px) {
				padding-right: 168px;
			}
		}
	}
}
@media only screen and (min-width : 992px) {
	.table{
		width: 50%;
		float: left;
	}
}