.socials-link{
	display: inline-block;
	border-radius: 50%;
	position: relative;
	width: 28px;
	height: 28px;
	background: #005cbe;
	text-align: center;
	vertical-align: middle;
	padding: 3px;
	box-sizing: border-box;
	transition: 0.1s all ease;
	&:hover{
		transform: scale(1.05);
	}
	&::before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 4px;
    border-color: transparent transparent #005cbe transparent;
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0;
	}
	&_whats{
		background: #00b933;
		&::before{
			border-color: transparent transparent #00b933 transparent;
			transform: rotate(112deg);
		}
	}
	&_plane{
		background: #009ccf;
		&::before{
			border-color: transparent transparent transparent transparent;
		}
	}
	&_viber{
		height: 30px;
		background: url(../../img/viber-ic.png) center/cover;
		border-radius: 100%;
		&::before{
			border-color: transparent transparent transparent transparent;
		}
	}
	&_vk{
		background: #2f67a0;
		&::before{
			border-color: transparent transparent #2f67a0 transparent;
		}
	}
	&_ok{
		background: #e97f21;
		&::before{
			border-color: transparent transparent #e97f21 transparent;
		}
	}
	&_inst{
		background: #c22da0;
		&::before{
			border-color: transparent transparent #c22da0 transparent;
		}
	}
}
.fa{
	font-size: 15px;
	color: #fff;
}