.input_theme_rosa {
  display: block;
  max-width: 450px;
  width: 100%;
  background: #fff;
}

.input__control {
  color: #747474;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 15px 22px;
  background: transparent;
  outline: none;
  width: 100%;
  border: 1px solid #d1d0d0;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.input__control::-webkit-input-placeholder {
  color: #747474;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.input__control::-moz-placeholder {
  color: #747474;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.input__control:-moz-placeholder {
  color: #747474;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.input__control:-ms-input-placeholder {
  color: #747474;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
