.input_theme_rosa {
  max-width: 450px;
  width: 100%;
  background: #fff;
}

textarea:focus {
  border-color: #000;
  color: #000;
}

.input__control {
  color: #747474;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  padding: 16px 22px;
  height: 54px;
  background: transparent;
  outline: none;
  width: 100%;
  border: 1px solid #d1d0d0;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.input__control::-webkit-input-placeholder {
  color: #747474;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.input__control::-moz-placeholder {
  color: #747474;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}

.input__control:-moz-placeholder {
  color: #747474;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.input__control:-ms-input-placeholder {
  color: #747474;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.input__control::-ms-clear {
  display: none;
}

.input__basket {
  color: #000;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 22px;
  background: transparent;
  outline: none;
  width: 100%;
  border: 1px solid #d1d0d0;
  /* Firefox 19+ */
  /* Firefox 18- */
  height: 41px !important;
}

.input__basket::-webkit-input-placeholder {
  color: #747474;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.input__basket::-moz-placeholder {
  color: #747474;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.input__basket:-moz-placeholder {
  color: #747474;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.input__basket:-ms-input-placeholder {
  color: #747474;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.input__basket::-ms-clear {
  display: none;
}

.input__basket:focus {
  border-color: #000;
}
