.main-menu{
	list-style: none;
	display: none;	
	width: 80.7%;
	background-image: linear-gradient(to top, #a6d2bb 0%, #bedfce 100%);
	border: 1px solid #aacfbc;
	box-shadow: 0 2px 3px rgba(0, 74, 47, 0.35);
	margin-left: -4px;
	height: 53px;
	li{
		display: inline-block;
		height: 52px;
	}
	@media only screen and (min-width : 750px) {
		display: inline-block;
	}
	@media only screen and (min-width : 990px) {
		// max-width: 1005px;
		width: 81%;
	}
	@media only screen and (min-width : 992px) {
		width: 85.555%;
	}
	@media only screen and (min-width : 1200px) {		
		width:88%;
	}
}
.main-menu__link{
	display: inline-block;
	font-family: 'PT Serif', serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 55px;
	color: #333;
	text-decoration: none;
	padding: 0 10px;
	// letter-spacing: 0.8px;
	transition:0.3s;
	&:hover{
		background-color: #84c0a3;
	}
	@media only screen and (min-width : 995px) {
		padding: 0 22px;
		font-size: 18px;
	}
}


.main-menu__button{
	background-image: linear-gradient(to top, #a6d2bb 0%, #bedfce 100%);
	border: 1px solid #aacfbc;		
	padding: 12px 0px 15px 18px;
	@media only screen and (min-width : 750px) {
		display: none;
		padding: 16px 0px 14px 22px;	
	}	
}
.main-menu__burger{	
	span{		
		background-color: #58645e;
	}
}
.main-menu__txt{
	color: #333333;
	font-size: 16px;
}



.main-menu_mobile{
	position: relative;
	padding: 19px 65px 0px 14px;
	background-color: #daf4e7;
	border: 1px solid #aed1bf;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
	display: none;
	position: absolute;
	z-index: 999;
	width: 100%;
}
.main-menu__link_mobile{
	display: block;
	color: #333;
	font-family: 'PT Serif', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 43px;
	padding-left: 22px;
	border-bottom: 1px solid #fff;
	&:hover{
		background-color: #84c0a3;
		border-bottom-color: transparent;
	}
}