	.questuon-h3{
		font-style: italic;
		font-size: 31px !important;
		font-weight: 400 !important;
		letter-spacing: 0.01em;
		margin-bottom: 20px;
	}
	.submit{
		background-color: #7f2461;
		height: 45px;
		color: white;
		font-family: 'Playfair Display', serif;
		font-size: 16px;
		letter-spacing: 0.02em;
		font-style: italic;
		border: none;
		padding: 0 48px;
		cursor: pointer;
		transition:0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		margin-top: 20px;
	}
	.submit:hover{
		background: #A8447F;
	}
	.submit-after{
		position: relative;
		width: 179px;
		margin: 0 auto;
	}
	.submit-after:after{
		position: absolute;
		content:'';
		background:url(../../img/submit.png);
		width: 179px;
		height: 13px;
		bottom:-13px;
		left: 0;
	}
	.question-box{
		max-width: 450px;
		text-align: center;
		margin: auto;
		padding: 60px 0;
	}
	.question-line{
		padding-bottom: 30px;
	}
	.qustion-input-margin{
		margin-bottom: 19px;
	}