.search-wrap {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #fff;
  max-width: 150px;
}

@media only screen and (min-width: 768px) {
  .search-wrap {
    max-width: 220px;
  }
}

.search-wrap input[type="text"] {
  padding: 0 30px 0 24px;
  background: #fff;
  line-height: 30px;
  height: 30px;
  color: #979696;
  font-family: "OpenSansLight", sans-serif;
  font-size: 14px;
  font-style: italic;
  outline: none;
  width: 100%;
  border: none;
  /* Firefox 19+ */
  /* Firefox 18- */
}

@media only screen and (min-width: 768px) {
  .search-wrap input[type="text"] {
    border: 0.2px solid #e1e0e0;
  }
}

.search-wrap input[type="text"]::-webkit-input-placeholder {
  color: #979696;
  font-family: "OpenSansLight", sans-serif;
  font-size: 14px;
  font-style: italic;
}

.search-wrap input[type="text"]::-moz-placeholder {
  color: #979696;
  font-family: "OpenSansLight", sans-serif;
  font-size: 14px;
  font-style: italic;
}

.search-wrap input[type="text"]:-moz-placeholder {
  color: #979696;
  font-family: "OpenSansLight", sans-serif;
  font-size: 14px;
  font-style: italic;
}

.search-wrap input[type="text"]:-ms-input-placeholder {
  color: #979696;
  font-family: "OpenSansLight", sans-serif;
  font-size: 14px;
  font-style: italic;
}

.search-wrap input[type="submit"] {
  outline: none;
  border: none;
  position: absolute;
  top: 6px;
  right: 132px;
  width: 16px;
  height: 17px;
  color: transparent;
  cursor: pointer;
  display: block;
  background: url(/img/search-loop.png) center no-repeat;
}

@media only screen and (min-width: 768px) {
  .search-wrap input[type="submit"] {
    right: 14px;
  }
}

.search-wrap input[type="text"]:focus, .search-wrap input[type="text"]:active {
  color: #3c3c3c;
}
