.search{
	&-wrap{
		text-transform: uppercase;
		position: relative;
		overflow: hidden;
		width: 100%;
		background: #fff;
		max-width: 150px;
		@media only screen and (min-width : 768px) {
			max-width: 278px;
		}
		input[type="text"]{
			padding: 0 30px 0 28px;
			background: #fff;
			line-height: 30px;
			height: 30px;
			color: #979696;
			font-family: "OpenSansLight", sans-serif;
			font-size: 14px;
			font-style: italic;
			outline: none;
			width: 100%;
			border: none;
			@media only screen and (min-width : 768px) {
				border: 0.2px solid #e1e0e0;
			}
			&::-webkit-input-placeholder {
				color: #979696;
				font-family: "OpenSansLight", sans-serif;
				font-size: 14px;
				font-style: italic;
		}
			&::-moz-placeholder          {
				color: #979696;
				font-family: "OpenSansLight", sans-serif;
				font-size: 14px;
				font-style: italic;
			}/* Firefox 19+ */
			&:-moz-placeholder           {
				color: #979696;
				font-family: "OpenSansLight", sans-serif;
				font-size: 14px;
				font-style: italic;
			}/* Firefox 18- */
			&:-ms-input-placeholder      {
				color: #979696;
				font-family: "OpenSansLight", sans-serif;
				font-size: 14px;
				font-style: italic;
			}
		}
		input[type="submit"]{
			outline: none;
			border: none;
			position: absolute;
			@media only screen and (min-width : 768px) {
				right: 14px;
			}
			top: 6px;
			right: 128px;
			width: 16px;
			height: 17px;
			color: transparent;
			cursor: pointer;
			display: block;
			background:url(/img/search-loop.png) center no-repeat;
		}
	}
}
.search-wrap input[type="text"]:focus, .search-wrap input[type="text"]:active{
	color: #3c3c3c;
}
